      /* ---- Panel Reg Buttons --- */
      #frontend-orders .confirmation-col .order_product_item .btn-warning {
        text-indent: -999px;
        width: 230px;
        position: relative;
        color: white !important;
        overflow: hidden;
        }
        
        #frontend-orders .confirmation-col .order_product_item .btn-warning::before {
        position: absolute;
        content: 'VIP Panel Reservations';
        left: 0;
        text-indent: 0;
        font-weight: bold;
        padding: 8px 12px;
        top: 0;}
        
        /* ---- END Panel Reg Buttons ----- */
        
        body {
        background-color:#ffffff !important;
        }
        
        /* ---- Products ---- */
        .row .visual_product_item{
         display: flex; 
        align-items: center; 
        justify-content: center; 
        padding: 3%; 
        }
        
        #fx_reg_content{
        background-color: rgba(255,255,255, 0.75);
        padding: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
        }
        
        .growtix-main-cont, #product_column{
        background-color: rgba(255,255,255, 0.75);
        margin-top: 15px;
        padding: 20px;
        }
        
        .well{
        background-color: transparent !important;
        padding: 0px;
        }
        
        /* IMAGES */
        .col-sm-6 .product_image, #visual_product_info .img-responsive{
         max-width: 200px !important; 
        }
      
       
        /* ---------- END Products ----------- */
        
        
        /* ---------- NavBar ----------- */
        
        .navbar, .navbar-header, .navbar-collapse, .title_bar{
        background-color: #352063;
        }
        
        .navbar-inverse .navbar-nav&gt;li&gt;a:hover{
        color: #fdb201;
        }
        
        #reg_navbar{
        margin: auto;
        padding: 15px;
        }
        
        /*---------------- Header -----------------------*/
        
        #header-cont, .header-cont{
        }
        
        div.col-md-12{
         display: none; 
        }
        
        /* ------- buttons ------- */
        .btn{
        text-transform: uppercase;
        }
        
        .purchbase-button{
        background-color: transparent;
        background-image: radial-gradient(#FEB202, #c14104);
        border-color: transparent;
        border-width: 2.5px;
        }
        
        .purchbase-button:hover, .purchbase-button:active{
        background-color: transparent;
        background-image: radial-gradient( #FEB202, #F15722);
        border-top-color: black ;
        border-right-color: white;
        border-bottom-color: white;
        border-left-color: black;
        border-width: 2.5px;
        }
        
        .btn-slide-nav{
        background-color: transparent;
        background-image: radial-gradient(#FEB202, #c14104);
        border-color: transparent;
        border-radius: 2px;
        padding: 10px 25px;
        }
        
        .btn-slide-nav:hover, .btn-slide-nav:active{
        background-color: transparent;
        background-image: radial-gradient(#FEB202, #F15722);
        border-color: transparent;
        border-radius: 2px;
        padding: 10px 25px;
        }
        
        .btn-changes{
        color: grey;
        background: transparent !important;
        }
        
        .btn-changes:hover{
        color: grey;
        background: transparent !important;
        text-decoration: underline;
        }
        
        #btn_submit_order{
        background-color: #b50c0c;
        border: transparent;
        }
        
        .btn-danger.active{
        background-color: #8C3CDD;
        border-color: #8C3CDD;
        text-transform: none;
        }
        .btn-danger.active:hover, .btn-success, .btn-success:hover{
        background-color: #5d2694;
        border-color: #5d2694;
        }
        
        .toggle-off.btn-sm{
        padding-left: 15px;
        font-size: 12px;
        }
        
        .alert-info{
        background-color: #cdbccc;
        border-color: transparent;
        }
        
        #checkout_box{
        background-color: #635880;
        }
        
        #event_information_button{
        background-color: #352063;
        }
        
        /* mobile cat nav */
        .panel-body.bg-info{
        background-color: transparent;
        padding: 0px;
        }
        .panel-heading.a, panel-heading.a:active{
         background-image: linear-gradient(to right, #fec2405e, #b65483, #732d69, #352563);
        background-color: #b65483 !important;
        color: white;
        }
        
        .alert-success{
        background-color: #fdb201;
        border-color: #fdb201;
        }
        
        #goto_checkout{
        background-color: #E09337;
        border: #E09337;
        }
        
        #goto_checkout:hover{
        background-color:#FC7000;
        border: #FC7000;
        }
        
        a{
        color: #8C3CDD;
        }
        
        #show_promo{
        color: #8C3CDD;
        }
        
        a:hover{
        color: #fdb201;
        }
        
        .text-primary, .text-primary:hover {
            color: #8C3CDD ;
            text-transform: uppercase;
        }
        
        /* Product listings */
        .fa-info-circle{
        color: #5A21D0;
        }
        .product_title{
        text-transform: uppercase;
        }
        
        .text-success{
        color: #f3661d;
        }
        
        .text-success:hover{
        color: #f3661d;
        }
        
        h5.text-default.product_title{
        font-size: 26px;
        text-align: right;
        }
        
        
        /* checkout  */
        
        .table&gt;tbody&gt;tr.info&gt;td{
        background-color: #60386c26;
        border-color: transparent;
        color: #2c3e50;
        }
        
        @media only screen and (max-width: 735px){
        .container, #frontend-events{
        width: 100%;
        margin: auto;
         }
        }
          
        /*Product Styles*/
        
        h5.text-default.product_title{
        font-size: 1.25em; 
        font-weight: bold; 
        }
    